body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.list-container {
  max-height: 80vh;
  overflow-y: scroll;
}

.action {
  cursor: pointer;
}

.main-title {
  color: orange;
  text-shadow: 1px 1px 5px black;
}
